body{
    font-family: 'Roboto', sans-serif;
}
/* nav started */
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color:#181818;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.r-color{
    color:#FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 51px;
    font-size: 20px;
}
nav a{
    text-decoration: none;
    color: black;
}
.button-primary{
    border-radius: 5px;
    background-color:#FD6E0A;
    border:none;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 18px 35px
}
/* nav finished */
/* heading related============= */
.header{
    background-color: #FFF8F3;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profile-picture{
    width: 584;
    height: 676
}